/* ELEMENTS */

abbr {
    cursor: help;
}

blockquote {
    color: gray;
    font-size: smaller;
}

em {
    font-family: serif;
    font-size: smaller;
}

figure {
    margin: 2em 0;
}

.figcaption {
    color: gray;
    font-size: smaller;
    margin: 1em;
    text-align: center;
}

h3 {
    color: #6C6C6C;
}

iframe,
video {
    border-color: black;
    border-style: solid;
    border-width: thin;
    max-width: 100%;
}

video {
    margin-bottom: 20px;
}


/* CLASSES */

.bold {
    font-weight: bold;
}

.caption,
.code-block-caption {
    color: #686868;
    font-size: small;
}

table.docutils {
    width: 100%;
}
