/* Public domain 2015. All rights waived */

/* Don't show on screen (A11Y)

   This class is used to place elements that are required for
   accessibility purposes off the screen in graphic Web browsers, while
   keeping the element available for screen readers and text browsers.
*/
.a11y-offscreen {
    position: absolute;
    left: -50000px;
}
/* END Don't show on screen */

.block-centered {
    margin: auto;
}

.block-image {
    display: block;
    max-width: 100%;
}

.bold {
    font-weight: bold;
}

.fineprint {
    color: silver;
    font-size: small;
}

.flex {
    display: flex;
}

.flex-auto {
    flex: auto;
}

.flex-initial {
    flex: initial;
}

.flexible-box {
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.flexible-box h2 {
    font-size: 1.8em;
    font-weight: normal;
    margin: 40px 0px;
}

.float-cleaner {
    clear: both;
}

.full-width {
    width: 100%;
}

.justify {
    text-align: justify;
    hyphens: auto;
}

.justify-left {
    text-align: left;
}

.justify-right {
    text-align: right;
}

.no-margins {
    margin: 0px;
}

.responsive-image {
    display: block;
    height: auto;
    max-width: 100%;
}

.text-centered {
    text-align: center;
}

.text-hyphens {
    hyphens: auto;
}

.text-small {
    font-size: small;
}
