/* Public domain 2015. All rights waived. */

.item .responsive-image {
    border-radius: 0.3em 0.3em 0em 0em;
    margin: auto;
}

.item:link,
.item:visited {
    background-color: transparent;
    border-color: black;
    border-radius: 0.3em;
    border-style: solid;
    border-width: thin;
    box-shadow: 0px 0px 1px #8762AC;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-size: 0.7em;
    margin: 10px;
    max-width: 230px;
    padding: 0px;
    position: relative;
    vertical-align: top;
}

.item:active,
.item:focus,
.item:hover {
    border-color: aquamarine;
    box-shadow: 0 0 15px black;
}

.item-title {
    font-size: 1.4em;
}

.summary {
    padding: 0em 0.7em;
}
