a:link, a:visited {
    color: aquamarine;
    text-decoration: none;
}

body {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 130%;
    margin: auto;
    max-width: 800px;
    padding: 1em;
    text-align: center;
}

figure,
div.figure {
    margin: 0em;
}

figcaption,
p.caption {
    color: silver;
    font-size: 0.7em;
    margin-top: 1em;
}

html {
    background-color: #241F31;
    background-image: url("img/spotlight.svg");
    background-position: top center;
    background-repeat: no-repeat;
}

h1, h2 {
    color: #21A974;
    font-weight: normal;
}

h2 {
    margin-bottom: 1em;
    margin-top: 3em;
}

pre {
    background-color: #1A1624;
    border-color: black;
    border-radius: 0.3em;
    border-style: solid;
    border-width: thin;
    font-family: monospace;
    margin: 1.2em auto;
    overflow: auto;
    padding: 0.5em 1em;
}

.button-group {
    margin-top: 2em;
}

.button-group li {
    display: inline-block;
}

.button-featured:link,
.button-featured:visited {
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    display: inline-block;
    font-size: 0.8em;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

.button-simple:link,
.button-simple:visited {
    color: white;
}

.button-simple:active,
.button-simple:focus,
.button-simple:hover {
    color: white;
}

.footer {
    color: silver;
    margin-top: 10em;
}

.shell {
    font-family: monospace;
    margin-top: 1em;
}

.cmd {
    background-image: url("img/prompt.svg");
    background-position: 0% 50%;
    background-repeat: no-repeat;
    color: silver;
    font-size: 1.5em;
    padding-left: 24px;
}

.usage-list {
    text-align: left;
}

.usage-list > div {
    margin: 1em 0em;
}

.deck-list {
    margin-bottom: 2em;
}
